
@mixin center-in-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);    
}

@mixin avatar-text {
    @include center-in-container();   
    font-weight: bold;
    color: white;
    font-size: 30px;
    top: $avatar_width / 2;    
}

$image_size: 360px;
$post_margin: 10px;
$post_width: calc($image_size + $post_margin);
$avatar_width: 60px;

.post {
    position: relative;
    width: $image_size;
    padding: $post_margin;

}
.postImage {    
    width: $image_size;
    height: $image_size;
}

.messageText {

    padding: 5%;
    margin: 20px;
}

.avatarContainer {
    position: relative;
    text-align: center;    
}

.avatarImage { 
    width: $avatar_width;
    border: 2px solid black;
}

.sender {
    @include avatar-text();      
}

.receipient {
    @include avatar-text(); 
}