
@mixin center-in-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);    
}

@mixin avatar-text {
    @include center-in-container();   
    font-weight: bold;
    color: white;
    font-size: 30px;
    top: $avatar_width / 2;    
}

$image_size: 360px;
$post_margin: 10px;
$post_padding: 20px;
$post_width: calc($image_size + $post_margin);
$avatar_width: 60px;

.post {
    
    width: $image_size;    

    background-color: #fff;
    border-radius: 4px;	
    
    margin-left: 2.5%;	
    margin-right: 2.5%;	
    margin-top: 2.5%;

	position: relative;
	padding: $post_padding;
	color: #444;

    &:before {
		content: '';
		display: block;
		position: absolute;
		background-color: #ccc;
		left: 20px;
		right: 20px;
		bottom: 0;
		top: 50%;
		z-index: -1;
		box-shadow: 0 0 40px lighten(#000, 60%);       
        
        transition: box-shadow .2s ease-in-out;
    }

    &:hover {
        &:before {
            box-shadow: 0 0 80px lighten(#000, 60%);
        }
    }
}

.postBody {
    position: relative;
}

.postImage {  
       
    width: $image_size;
    height: $image_size;
}

.avatarImage { 
    
    width: $avatar_width;
    border: 4px solid white;    
}
.avatarText {    
    @include avatar-text(); 
}

.sender {
    position: absolute;
    left: $post_padding;
    top: $post_padding;
}

.receipient {
    position: absolute;
    right: $post_padding;
    bottom: $post_padding;
}

.messageText {
    margin-top: 10px;
    padding: 10px;
}

summary {   
    margin-left: -10px;
}

